/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 55%;
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* Top Navigation bar */
/* side left */
.top-nav {
    background-color: rgb(245,248,250);
    height: 74px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.top-nav-left {
    font-size: 16px;
    color: rgb(51, 71, 88);
    text-transform: capitalize;
}

.top-nav-left div {
    margin: 10px 0;
    line-height: 30px;
}

.top-nav-left div:first-child {
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.top-nav-left div:nth-child(2) {
    padding-left: 20px;
}

.top-nav-left div :nth-child(2) {
    padding: 0 5px;
}


/* side right */
.top-nav-right {
    text-transform: capitalize;
    height: 50px;
    padding: 5px 0;
}

.top-nav-right > * {
    display: inline-block;
}

.top-nav-right input {
    background-image: url('img/finder-icon.png');
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    padding: 5px 0 5px 30px;
    border: none;
    transition: .2s ease-in-out;
}


.top-nav-right input:focus {
    width: 200px;
    visibility: visible;
}

.top-nav-right button {
    text-transform: capitalize;
    height: 100%;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.2;
}

.top-nav-right button:first-of-type {
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 122, 89);
    color: rgb(255, 122, 89);
}

.top-nav-right button:first-of-type:hover {
    background-color: #fff1ee;
}

.top-nav-right :last-child {
    background-color: rgb(255, 122, 89);
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 5px;
    padding: 0 10px;
}

.top-nav-right :last-child:hover {
    background-color: #ffbcac;
}

.top-nav-right button:focus {
    outline: none;
}


/* Navigation menu */

nav {
    background-color: rgb(255,255,255);
    padding: 10px 0;
    color: #33475B;
}

nav img {
    height: 50px;
}

.nav-menu {
    width: 500px;
}

.nav-menu li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    width: 20%;
}


/* Top banner */
.top-banner {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(66,91,118);
}

.top-banner div {
    padding: 20px 0;
    line-height: 1.5;
    position: relative;
}

.top-banner a {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.top-banner a:hover {
    color: #7fd1de;
}


/* Hero section */
.hero-section {
    background-color: rgba(254, 84, 84, 0.2);
}

.commercial-spot {
    width: 400px;
    padding: 100px 0;
}

.hero-section h2 {
    font-size: 46px;
    margin: 23px 0;
    line-height: 1.3em;
    color: #33475b;
}

.hero-section h3 {
    font-size: 18px;
    margin: 18px 0;
    line-height: 1.5em;
    color: #33475b;
    font-weight: lighter;
}

.hero-section button {
    background-color: rgb(255, 122, 89);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0 10px;
    height: 80px;
    width: 50%;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.hero-section button:hover {
    background-color: #ffbcac;
}

.hero-section h4 {
    font-size: 14px;
    margin: 28px 50% 28px 0;
    line-height: 1.5em;
    color: #33475b;
    font-weight: lighter;
}

/* Marketing section */
.marketing {
    background-color: rgb(245,248,250);
    padding: 100px 0;
}

.cards {
    background-color: red;
    height: 400px;
    width: calc((100% / 3) - 40px);
    margin-bottom: 20px;
}

.cards:nth-child(even) {
    margin: 0 20px;
}

/* Social-proof section */
.social-proof {
    background-color: rgb(0,186,168);
    height: 800px;
}


/* testimonials section */
.testimonials {
    background-color: rgb(255,255,255);
    height: 800px;
}

/* Footer */
footer {
    background-color: rgb(51,71,91);
    height: 800px;
}
